{% extends 'UBCExamMainBundle::layout.html.twig' %}

{% block body %}
    
    <h1>User Guide</h1>
    
    <p><strong>Jump to a section:</strong></p>
        
        <ol>
            <li><a href="#question-1">What is the purpose of this database?</a></li>
            <li><a href="#question-2">Why do the amount and types of materials vary between courses?</a></li>
            <li><a href="#question-3">Why are there no materials associated with some courses?</a></li>
            <li><a href="#question-4">How can I use past or sample exams to help study for a course?</a></li>
        </ol>
    
    <a id="question-1"></a>
    <h3>1. What is the purpose of this database?</h3>
    
    <p>This database was created to <strong>ensure that students at UBC feel well supported in preparing for exams</strong>. The site gives instructors a place to upload course-specific exam materials and provides links to more general study and learning resources.</p>
    
    <p>The site also:</p>
    <ul>
        <li>helps you <strong>understand how to use past exams and learning resources positively and effectively</strong> and</li>
        <li>ensures that all students have equal access to exams and learning resources that have been shared in the past.</li>
    </ul>

    <a id="question-2"></a>
    <h3>2. Why do the amount and types of materials vary between courses?</h3>
    
    <p>Individual <strong>instructors choose what materials they want to upload</strong>, including past exams, sample exams, or other course-specific exam study materials.</p>
    
    <p>There are various reasons why instructors may choose to upload certain materials and not others. For example, there may be constraints on uploading past exams from courses where instructors have a limited pool of questions to pull from. Instructors' teaching styles also vary and may not be conducive to sharing certain types of resources.</p>

    <a id="question-3"></a>
    <h3>3. Why are there no materials associated with some courses?</h3>
    
    <p>Materials for the database are provided voluntarily, and <strong>some instructors choose not to contribute</strong>. You are encouraged to ask instructors about sharing material for their courses. Instructors can easily upload files on this site after logging in with their CWL.</p>
    
    <p>Even if you can't find a course, you can still use the general study links and tips provided here to prepare for exams.</p>

    <a id="question-4"></a>
    <h3>4. How can I use past or sample exams to help study for a course?</h3>
    
    <p>Keep in mind that, while past and sample exams can be used as one guiding tool to support self-directed study, you should not rely too heavily on them. Above all:
    <blockquote><strong>Never assume that past or sample exams will be similar to exams used in a current section of a course</strong>&mdash;unless your instructor has explicitly indicated this.</blockquote>
    </p>
    
    <p>You should note <em>especially</em> when material was uploaded either:</p>
    
    <ul>
        <li>by a different instructor than the instructor teaching the current course or</li>
        <li>for a course that took place more than one or two years ago.</li>
    </ul>
    
    <p>These materials in particular may differ greatly from the current exams in use.</p>

    <p>Past or sample exams can be a very effective study tool, if used properly. The following list, adapted from the <a href="http://www.lib.sfu.ca/slc/">Simon Fraser University Student Learning Commons</a>, contains some helpful tips for using past and sample exams.</p>
    
    <h4>Exam Study Tips:</h4>
    
    <ul>
        <li><strong>Become familiar with the format of past exams</strong>, such as the type of questions asked and the style in which they are phrased. Be aware of possible variation, as the format of an exam may change from year to year. Pay close attention to instructions given on the syllabus or in class, and ask the instructor questions in order to learn what variations to expect.</li>
        <li><strong>Practice answering the questions</strong> to identify gaps in your personal knowledge and areas needing further study. Compare questions with course outlines, lecture notes, and readings to identify the range of topics that may come up in an exam.</li>
        <li><strong>Complete past exams under exam-like conditions</strong> to assess your proficiency under time pressure and without outside aid and to gain confidence answering questions and solving problems quickly.</li>
        <li><strong>Assess what level of detail is appropriate</strong> for questions given the allotted testing time, and evaluate if more or less information will be needed. Consider how much time can realistically be devoted to each question.</li>
        <li>With a study group or a friend, <strong>mark practice exams</strong> to gauge personal performance and to understand how evaluators may read an answer, what mistakes (wrong answers) are possible, and what other ways a question may be answered correctly.</li>
        <li><strong>Receive feedback from peers</strong> on answers to previous or practice exam questions and then reflect on frequent errors made and the types of questions that were most difficult for you. Consider where wrong information was included, careless errors made, writing skills need improvement, or test anxiety affected your performance.</li>
        <li>Use past exams as a template to <strong>write more practice questions</strong> by substituting topics, adapting and rephrasing questions, and changing key terms. Review lecture notes and readings to determine what has been emphasized and what possible additional questions may be asked.</li>
        <li>In some cases&mdash;particularly when the instructor is the same as in prior years&mdash;previous or practice exams may be used to predict which questions or topics are likely to appear on the exam. However, please <strong>remember there are no guarantees</strong> and relying too heavily on this approach is <em>not</em> recommended.</li>
    </ul>
    
{% endblock %}