{% extends 'UBCExamMainBundle::layout.html.twig' %}

{% block body %}

    <h1>Search Assessment Materials</h1>

    <p>Welcome to UBC's Assessment Material Archive, a searchable database of current and past course exams and other assessment materials.</p>

    <p>Public-facing interface to go here.</p>

{% endblock %}