{% extends 'UBCExamMainBundle::layout.html.twig' %}

{% set caption = "Exams uploaded by " ~ username %}

{% block body %}
    
    <h1>Manage Existing Exams</h1>
        
    {{ include ('UBCExamMainBundle:Default:exam-table.html.twig', {'exams': exams, 'caption': caption, 'list': true }) }}

{% endblock %}