{% extends 'UBCExamMainBundle::layout.html.twig' %}

{% set caption = "Material uploaded by " ~ username %}

{% block body %}
    
    <h1>Manage Existing Material</h1>
    
    <p>You can edit details or delete all the content for anything you've personally uploaded here. Simply click the edit or delete icons in the table below.</p>
    
    <p><strong>Note:</strong> If you need to edit or delete material that was uploaded by <em>someone else</em>, please contact that individual to make the change.</p>
    
    {{ include ('UBCExamMainBundle:Default:exam-table.html.twig', {'exams': exams, 'caption': caption, 'list': true }) }}

{% endblock %}