{% extends 'UBCExamMainBundle::layout.html.twig' %}

{% block body %}
    
    <ul class="breadcrumb expand">
        <li>
            <a href="/exam/list">Manage Existing</a> <span class="divider">/</span>
        </li>
        <li class="active">Update Exam</li>
    </ul>

    <h1>Update Exam</h1>
    
    {{ include('UBCExamMainBundle:Default:upload-form.html.twig', {'form': form}) }}

{% endblock %}
