{% extends 'UBCExamMainBundle::layout.html.twig' %}

{% block body %}
    
    <h1>Upload New Exam</h1>

    <p>Thank you for contributing to this valuable resource! <span class="hidden-phone">Simply fill in the required fields, read and consent to the license, and upload your exam file below.</span></p>
    
    {{ include('UBCExamMainBundle:Default:upload-form.html.twig', {'form': form}) }}

{% endblock %}
