parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     examdb
    database_user:     examdb
    database_password: examdb

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    cas_server: cas.stg.id.ubc.ca
    cas_port: 443
    cas_path: /ubc-cas/

    wiki_base_url: http://wiki.ubc.ca/index.php?action=render&title=Sandbox:ExamDB/

    auth2_username: username
    auth2_password: password
    auth2_service_application: service_app
    auth2_service_url: https://www.auth.stg.id.ubc.ca

    sis_base_url: http://sisapitest.as.it.ubc.ca:8101/sisapi/v2

    upload_dir: "%kernel.root_dir%/data/uploads/documents"
    index_dir: "%kernel.logs_dir%/index_%kernel.environment%"