@CHARSET "UTF-8";

.full-width {
    background-color: #FFF; 
}

.full-width .full-width-container {
    margin-right: auto;
    margin-left: auto;
}

.full-width-container {
    width: 940px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 0;
}

/**** START EXAM DB CSS ****/

/* more spacing between form groups */
fieldset {
    margin: 1.5em 0;
}
    
    /* more spacing between rows */
    .row-fluid {
        margin-bottom: .5em;
    }
    
    /* de-emphasize labels a bit */
    label {
        color: #555;
        font-size: .95em;
    }
    
    /* required-star class added to each label of a required field */
    .required-star:after {
        content: ' *';
        color: #ab1f2e;
    }
    
    /* expand inputs to wider than default */
    input,
    textarea {
        width: 90%;
    }
    select {
        width: 92.5%;
    }
    
    /* license class used on div wrapping legal agreement */
    .license {
        margin-bottom: 2em;
        padding: 2em;
        height: 120px;
        font-size: .85em;
        line-height: 130%;
        overflow: scroll;
        border: 1px solid #e5e5e5;
        background: #f9f9f9;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.075) inset;
        -moz-box-shadow:    0 0 3px rgba(0, 0, 0, 0.075) inset;
        box-shadow:         0 0 3px rgba(0, 0, 0, 0.075) inset;
    }
    
    /* for agreement, date of agreement fields (stacked on top of each other) */
    .inner-rows > div {
        margin-bottom: .8em;
    }
    
    /* remove default to fix alignment */
    .checkbox {
        padding-left: 0;
    }
    
        /* override default to fix alignment */
        .checkbox input[type="checkbox"] {
            margin: 4px 8px 0 0;
        }
        
        /* agreement text is label next to checkbox */
        .agreement-text {
            margin-bottom: 1em;
            color: #333;
            font-size: 1.1em;
        }
    
    /* this is the id already added to the browse input for the upload */
    #form_file {
        padding-top: 0;
        padding-left: 0;
    }
    
    /* save button */
    .btn-save {
        margin: 1em 0 2em 0;
    }

/**** END EXAM DB CSS ****/

@media screen and (max-width: 979px) {

    .full-width-container {
	margin-left: 0;
	margin-right: 0;
	width: auto;
    }

}

@media screen and (min-width: 1200px) {

    .full-width-container {
	width: 1170px;
	display: block;
	margin: 0 auto;
    }
    
    .home .full-width-container .entry-content {
	margin-right: -15px;
	margin-left: -15px;
    }

}