@CHARSET "UTF-8";

.full-width {
    background-color: #FFF; 
}

.full-width .full-width-container {
    margin-right: auto;
    margin-left: auto;
}

.full-width-container {
    width: 940px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 0;
}


/**** START EXAM DB CSS ****/

/* need to overwrite some defaults to align login/logout nav at right */
.navbar .nav {
    float: none;
}
    .navbar .nav > .pull-right {
	float: right;
    }
	#ubc7-unit-menu .nav > .pull-right > .a-img-cwl,
	#ubc7-unit-alternate-navigation .nav > .pull-right > .a-img-cwl {
	    padding: 7px 10px;  
	}

/* add more room at the bottom of main content */
.content {
    padding-bottom: 2em;
}

/* .search-box-row used on div surrounding search fields on home page */
.content .search-box-row {
    padding: .8em 0 .5em 0;
    background: #D7E0E7;
    border: 1px solid #98B2C3;
}

    /* need margin for all elements to account for movement when screen shrinks */
    .content .search-box-row select,
    .content .search-box-row label,
    .content .search-box-row button {
	margin-left: 1em;
    }
    
	/* span around auto-fill search field */
       .custom-combobox {
	  margin: 0 0 1em 1em;
	  display: inline-block;
	  width: 96%;
	}
	
	    /* input in span */
	    .custom-combobox-input {
	      padding: .4em;
	      width: 88%;
	      background: #fff !important;
	    }
	    
	    /* a tag that is down arrow for input */
	    .custom-combobox-toggle {
	      padding: .5em;
	      display: inline-block;
	    }
	    
	    /* options in the select */
	    .ui-menu-item {
	      color: #222;
	    }
		.ui-menu-item.ui-state-focus {
		  background: #eee !important;
		}

/* .resource-header used on h3 before resource links */
.content .resource-header {
    margin-top: 1.5em;
}
    
/* .resource-links used on div surrounding links at bottom of home page */
.content .resource-links a {
    margin-top: .5em;
    display: inline-block;
    font-size: 1.1em;
    width: 92%;
}

    /* icons for resource link buttons */
    .resource-links a i {
	display: block;
	color: #333;
	font-size: 3em;
    }
	.resource-links a i:before {
	    cursor: pointer; /*override default*/
	}

/* .exam-tooltip class applies to a tags used as tooltips, attached to question mark icons */
.exam-tooltip {
    position: relative;
    color: #222;
    font-weight: normal;
    outline: none;
    text-decoration: none;
}

    /* tooltips initially hidden */
    .exam-tooltip span {
	margin-left: -999em;
	position: absolute;
    }

    /* span displayed as box on hover */
    .exam-tooltip:hover span {
	margin-left: 0;
	padding: 0.8em 1em;
	position: absolute;
	right: -125px; /*centered*/
	top: 2em;
	width: 250px;
	color: #222;
	line-height: 130%;
	background: #FFFFAA;
	border: 1px solid #FFAD33;
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	z-index: 99;
    }

    /* em tags surround tooltop headings for span boxes */
    .exam-tooltip:hover em {
	font-size: 1.4em;
	font-style: normal;
	display: block;
	padding: 0.2em 0 0.6em 0;
    }

/* more spacing between form groups */
.content fieldset {
    margin: 1.5em 0;
}
    
    /* more spacing between rows */
    .content .row-fluid {
        margin-bottom: .5em;
    }
    
    /* de-emphasize labels a bit */
    .content label {
        color: #555;
        font-size: .95em;
    }
    
    /* icon to right of labels/table headings that need explanation */
    .content .icon-question-sign {
	margin-left: .5em;
    }
    
    /* required-star class added to each label of a required field */
    .content .required-star:after {
        content: ' *';
        color: #ab1f2e;
    }
    
    /* expand inputs to wider than default */
    .content input[type="text"],
    .content input[type="number"],
    .content input[type="date"],
    .content textarea {
        width: 90%;
    }
    .content select {
        width: 92.5%;
    }
    
    /* need to help Safari show required fields with invalid class (applied via JavaScript) */
    .content .invalid input:required:invalid,
    .content .invalid select:required:invalid,
    .content .invalid .checkbox input:required:invalid + label {
	border: 1px solid #ab1f2e;
    }
    
    /* license class used on the div wrapping legal agreement */
    .content .license {
        margin-bottom: 2em;
        padding: 2em;
        height: 150px;
        font-size: .9em;
        line-height: 130%;
        overflow-x: scroll;
        border: 1px solid #e5e5e5;
        background: #f9f9f9;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.075) inset;
        -moz-box-shadow:    0 0 3px rgba(0, 0, 0, 0.075) inset;
        box-shadow:         0 0 3px rgba(0, 0, 0, 0.075) inset;
    }
    
    /* try to force scrollbar for legal agreement box, at least for webkit */    
    form ::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
    }
    form ::-webkit-scrollbar-thumb {
       border-radius: 4px;
       background-color: rgba(0,0,0,.5);
       -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
    
    /* for agreement, date of agreement fields (stacked on top of each other) */
    .content .inner-rows > div {
        margin-bottom: .8em;
    }
    
    /* remove default to fix alignment */
    .content .checkbox {
        padding-left: 0;
    }
    
	/* label has more spacing here */
	.content .checkbox label {
	    margin-bottom: .9em;
	}
	
        /* override default to fix alignment */
        .content .checkbox input[type="checkbox"] {
            margin: 2px 8px 0 0;
	    -webkit-transform: scale(1.4);
	    transform: scale(1.4);
        }
        
        /* agreement text is label next to checkbox */
        .content .agreement-text {
            margin-bottom: 1.4em;
            color: #333;
            font-size: 1.2em;
        }
    
    /* class for hiding fields that should be hidden on update exam page */
    .content .hide-this {
	display: none;
    }
    
    /* this is the id already added to the browse input for the upload */
    .content #form_file {
        padding-top: 0;
        padding-left: 0;
    }
    
    /* save button */
    .content .btn-save {
        margin: .5em 0 2em 0;
    }   

/* table used on manage screen, search results view */    
.content table {
    margin: 2em 0 3em 0;
}

    /* caption = "Exams uploaded by" / Course - # results */
    .content caption {
	padding-bottom: .5em;
	font-size: 1.7em;
	text-align: left;
	border-bottom: 2px dotted #d7e0e7;
    }
    
    /* headings sometimes 2 lines */
    .content th {
	line-height: 130%;
    }
    
    /* td-course used for cell with course name */
    .content .td-course {
	font-size: 1.15em;
    }
    
    /* btn-download used for download button in search results table */
    .content .btn-download {
	white-space: nowrap;
    }
    
    /* td-icon used for cells with icons only (edit, delete) */
    .content .td-icon {
	font-size: 1.4em;
	text-align: center;
	vertical-align: middle;
    }
    
	/* no underline for icon links */
	.content .td-icon a {
	    text-decoration: none;
	}
	
	/* change default for icons */
	.content .td-icon i:before {
	    cursor: pointer;
	}

@media screen and (max-width: 767px) {
    
    /* limit scrolling div width */
    .content .license {
	max-width: 84%;
    }

    /* list of study links needs better spacing */
    .link-list li {
	margin-top: 1em;    
    }
    
}

@media screen and (max-width: 979px) {

    .full-width-container {
	margin-left: 0;
	margin-right: 0;
	width: auto;
    }
    
    /* reset earlier overwrites */
    .navbar .nav > .pull-right {
	float: none;
    }
    	#ubc7-unit-menu .nav > .pull-right > .a-img-cwl,
	#ubc7-unit-alternate-navigation .nav > .pull-right > .a-img-cwl {
	    padding: 10px 20px;  
	}
    
}

/**** END EXAM DB CSS ****/


@media screen and (min-width: 1200px) {

    .full-width-container {
	width: 1170px;
	display: block;
	margin: 0 auto;
    }
    
    .home .full-width-container .entry-content {
	margin-right: -15px;
	margin-left: -15px;
    }

}